%h1 Log In

= form_tag sessions_path do
  .field
    = label_tag :username
    = text_field_tag :username
    %div.mar-bot-10
  .field
    = label_tag :password
    = password_field_tag :password
    %div.mar-bot-10
  .field
    = check_box_tag :remember_me, 1, params[:remember_me]
    = label_tag :remember_me
    %div.mar-bot-20
  .actions
    = submit_tag "Login"

/ %h3 Forgot Password?
/ = render 'forgot_password_form'