- @topic_list.each do |topic|
  = form_tag new_bundle_url, :method => "post" do
    = hidden_field_tag :subject, @subject
    = hidden_field_tag :grade, @grade_only
    = hidden_field_tag :topic, topic
    = submit_tag topic

