%div{:id => "user_profile_div"}
  %h1{:id => "user_profile_header"} Your Profile

  %ul
    - current_user.bundles.each do |bundle|
      %li= link_to bundle.title, bundle_url(bundle)
      %li= bundle.description
      %li= link_to 'Add Resources To Bundle', edit_bundle_url(bundle)
      %li= link_to 'Delete Bundle', bundle_url(bundle), :method => "delete"
      %br

  = link_to "Favorite Resources", favorite_resources_path
  = link_to "Search", root_url