<%= form_for(@favorite_resource) do |f| %>
  <% if @favorite_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite_resource.errors.count, "error") %> prohibited this favorite_resource from being saved:</h2>

      <ul>
      <% @favorite_resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mentor %><br />
    <%= f.text_field :mentor %>
  </div>
  <div class="field">
    <%= f.label :resource %><br />
    <%= f.text_field :resource %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
