<div class = "create_bundle">
  <% if current_user && current_user.bundles.empty? || !current_user %>
    <p> You haven't made any bundles yet. </p>
    <%= link_to  "Create your first bundle!", make_bundle_url(@standard_list.map{ |s| s.id }.join(", ")), :method => "get" %>
  <% elsif params[:id] == nil %>
    <%= link_to  "Create bundle", make_bundle_url(@standard_list.map{ |s| s.id }.join(", ")), :method => "get" %>
 </div>
<% else %>
  <div class = "display_current_bundle" >
  <p> <%= @bundle.title %> </p>
  <ul> <% @bundle.resources.each do |resource| %>
    <li> <%= resource.name %> </li>
    <% end %>
  </ul>
  </div>
<% end %>

<% if params[:id] != nil %>
<!-- #all standards associated with this bundle upon first search so that when user returns to page to edit bundle, they can add resources based upon these initial associated standards -->
  <% @bundle.standards.each do |standard| %>
    <div class = "standard">
    <%= standard.standard %>
      <ul class = "standard_resource">
        <% standard.resources.each do |resource| %>
          <% if !@bundle.resources.include?(resource) %>
            <a href = <%= resource.url %> >
              <li> <%= resource.name %> </li>
              <li> <%= resource.source %> </li>
            </a>
          <%= form_tag update_bundle_url(@bundle) do %>
            <%= hidden_field_tag :resource, resource.id %>
            <%= submit_tag "Add Resource To Bundle" %>
          <% end %>
          <% end %>

        <% end %>
      </ul>
    </div>
  <% end %>

 <% else %>

<!-- if this is the first time searching, and they have not created a bundle, these standards/resources pop up:
 -->

  <% @standard_list.each do |standard| %>
    <div class = "standard">
      <%= standard.standard %>
        <ul class = "standard_resource">
          <% standard.resources.each do |resource| %>
            <a href = <%= resource.url %> >
              <li> <%= resource.name %> </li>
              <li> <%= resource.source %> </li>
            </a>
          <% end %>
        </ul>
    </div>
  <% end %>


<% end %>