<p id="notice"><%= notice %></p>

<h1>
  <%= @bundle.title %>
</h1>

<h2>
  <%= @bundle.description %>
</h2>

<h2>
  <% @bundle.resources.each do |resource| %>
    <p> <%= resource.name %> </p>
    <p> Fulfills standards: </p>
      <%= @bundle.standards.select{ |standard| standard.resources.include? (resource) }.map{ |standard| standard.standard }.join(", ") %>
  <% end %>
</h2>

<%= link_to 'Add Resources To Bundle', edit_bundle_url(@bundle) %>
