<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @bundle.title %>
</p>

<p>
  <b>Description:</b>
  <%= @bundle.description %>
</p>


<%= link_to 'Edit', edit_bundle_path(@bundle) %> |
<%= link_to 'Back', bundles_path %>
