<p id="notice"><%= notice %></p>

<h1>
  <%= @bundle.title %>
</h1>

<h2>
  <%= @bundle.description %>
</h2>

<h2>
  <% @bundle.resources.each do |resource| %>
    <p> <%= resource.name %> </p>
    <p> Fulfills standards: </p>
      <%= @bundle.standards.select{ |standard| standard.resources.include? (resource) }.map{ |standard| standard.standard }.join(", ") %>
  <% end %>
</h2>


<%= link_to 'Add Resources To Bundle', edit_bundle_url(@bundle) %>

<script type="text/javascript">
  $(document).ready(function () {
    $("#makeMeScrollable").smoothDivScroll({
      mousewheelScrolling: "allDirections",
      manualContinuousScrolling: true,
      autoScrollingMode: "onStart"
    });
  });
</script>


<div id="makeMeScrollable">
  <div class="resource_tiles">
    <% @standard_list.each do |standard| %>
      <div class="standard_section" id = '<%= "standard_section_#{standard.id}" %>'>
        <h3><%= standard.standard %></h3>
        <hr>
        <ul class="resource_tiles_list container">
          <% standard.resources.each do |resource| %>
            <% if !@bundle.resources.include?(resource) %>
              <li class='<%= "resource #{resource.kind}" %>' id='<%= "resource_#{resource.id}" %>'>
                <a href="<%= resource.url %>">
                  <div class="resource_name"><%= resource.name %> <%= resource.source %></div>
                </a>
                <img src="/images/<%= resource.kind %>.svg" alt>
                <button class="add_to_bundle">add to bundle</button>
                <button class="add_to_favorite">add to favorites</button>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

